<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista clientes SGI</title>

        <link rel="stylesheet" type="text/css" href="../../static/css/styles admin/style_adminprincipal.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/styles admin/style_listarclientes.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/styles cajera/style_pagoalquiler.css">
        <link rel="shortcut icon" href="../img/real-estate.png">
        <link rel="stylesheet" type="text/css" href="../../static/css/stylesSecretaria/styleListaClientes.css">
        <link rel="stylesheet" type="text/css" href="../../static/css/stylesSecretaria/cabecera.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
                crossorigin="anonymous">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap" rel="stylesheet">
        
    </head>
    <body>
        <header class="cabecera_login">
            <ul id="lista_cabecera">
                <li id="boton_cabecera"> 
                    <a href="principal.html">SGI</a>
                </li>
                <li>
                    <a href="principal.html">Bienvenido, [Nombre Usuario]</a>
                </li>
                <li>
                    <a href="../Cliente/cli_principal.html">Ir al sitio</a>
                </li>
                <li>
                    <a href="principal.html"> Editar perfil </a>
                </li>
                <li>
                    <a href="../index.html"> Salir </a>
                </li>
            </ul>
        </header>
        <section class="cotenido-secre">
            <div id="menu-navegacion" class="navegacion-izq">
                <div class="container-fluid">
                    <a class="com-titulo" href="#" style="text-decoration:none">SGI</a>
                </div> 
                <section class="botones_navecacion">
                    <div class="selectors">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 border mb-3 rounded">
                                    <a class="imprimir" tabindex="0" href="imprimir_clientes.html" style="text-decoration:none">
                                        <div class="icon-wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                                                <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                                                <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2H5zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4V3zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2H5zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1z"/>
                                            </svg>
                                            <span class="text-izq">Imprimir</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 border mb-3 rounded">
                                    <a class="agregar-cita" tabindex="0" href="ventana_nuevocli.html" style="text-decoration:none" target="_blank">
                                        <div class="icon-wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus" viewBox="0 0 16 16">
                                                <path d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"/>
                                                <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                            </svg>
                                                <span class="text-izq">Agregar</span>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-12 border mb-3 rounded">
                                    <a class="calendario" tabindex="0" href="#" style="text-decoration:none">
                                        <div class="icon-wrapper">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
                                                <path d="M6.445 11.688V6.354h-.633A12.6 12.6 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61h.675zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82h-.684zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23z"/>
                                                <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                                            </svg>
                                            <span class="text-izq">Calendario</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div>
            <div class="cuerpo-secre">
                <ul class="cuerpo_list">
                    <li>
                        <div class="container">
                            <div class="row">
                                <div class="col-12 mb-2"> Ordenar por: </div>
                                <div class="col-6 mb-2">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Fecha</option>
                                        <option value="3">Nombre</option>
                                        <option value="1">Edad</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <table style="border:hidden" class="table table-success table-striped" id="main-table">
                            <thead style="border:hidden">
                                <tr style="border:hidden">
                                    <th style="border:hidden" scope="col">Codigo usuario</th>
                                    <th style="border:hidden" scope="col">Fecha Contacto</th>
                                    <th style="border:hidden" scope="col">Nombre</th>
                                    <th style="border:hidden" scope="col">Apellido</th>
                                    <th style="border:hidden" scope="col">Email</th>
                                    <th style="border:hidden" scope="col">Telefono</th>
                                    <th style="border:hidden" scope="col">Acciones</th>
                                    
                                </tr>
                            </thead>
                            <tbody style="border:hidden">
                                <tr style="border:hidden">
                                    <th style="border:hidden" scope="row">1</th>
                                    <td style="border:hidden">03/03/2021</td>
                                    <td style="border:hidden">Mark</td>
                                    <td style="border:hidden">Otto</td>
                                    <td style="border:hidden">asd@asd.com</td>
                                    <td style="border:hidden" id='mainTd'>111444777</td>
                                    <td style="border:hidden">
                                        <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                                    </svg>
                                                    Borrar
                                                </button>
                                                
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Borrar cliente</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ¿Esta seguro que quiere eliminar el cliente?
                                                    </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-danger">Eliminar</button>
                                                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                        <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalb">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                                    </svg>
                                                    Editar
                                                </button>
                                                
                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModalb" tabindex="-1" aria-labelledby="exampleModalLabelb" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Actualizar datos de cliente</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form>
                                                                <div class="container">
                                                                <div class="row">

                                                                    <div class="col-12">
                                                                    <label class="nombre_label">Nombre:</label>
                                                                    </div>
                                                                    <div class="col-12">
                                                                    <input type="text" name="Nombre" value="Nombre de entrada" class="mb-2" class="entrada_dato" id="Nombre" required>
                                                                    </div>

                                                                    <div class="col-12">
                                                                        <label class="nombre_label">Apellido:</label>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <input type="text" name="Apellido" value="Nombre de entrada" class="mb-2" class="entrada_dato" id="Apellido" required>
                                                                        </div>

                                                                    <div class="col-12">
                                                                        <label class="nombre_label">Email</label>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <input type="text" name="Email" value="Email de entrada" class="mb-2" class="entrada_dato" id="Email" required>
                                                                        </div>
                                                                    <div class="col-12">
                                                                        <label class="nombre_label">Telefono</label>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <input type="text" name="Telefono" value="Telefono de entrada" class="mb-2" class="entrada_dato" id="Tel" required>
                                                                    </div>

                                                                  </div>
                                                                </div>
                                                                <div class="col-12 d-flex justify-content-center">
                                                                    <div class="btt_enviar">
                                                                 
                                                                      <input type="submit" value="Actualizar" onclick="hizoClick()">
                                                                      
                                                                    </div>
                                                                </div>
                                                            </form>
                                                    </div>
                                                        <div class="modal-footer">
                                                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
                                                    </div>
                                                 </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr style="border:hidden">
                                    <th style="border:hidden" scope="row">2</th>
                                    <td style="border:hidden">03/03/2021</td>
                                    <td style="border:hidden">Jacob</td>
                                    <td style="border:hidden">Thornton</td>
                                    <td style="border:hidden">asd@asd.com</td>
                                    <td style="border:hidden">111222333</td>
                                    <td style="border:hidden">
                                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                                <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                                            </svg>
                                            Borrar
                                        </button>
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Borrar cliente</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                ¿Esta seguro que quiere eliminar el cliente?
                                                </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-danger">Eliminar</button>
                                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                        <!-- Button trigger modal -->
                                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2b">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                                <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                                <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                            Editar
                                        </button>
                                        
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal2b" tabindex="-1" aria-labelledby="exampleModalLabel2b" aria-hidden="true">
                                            <div class="modal-dialog">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Actualizar datos de cliente</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                        <div class="container">
                                                        <div class="row">

                                                            <div class="col-12">
                                                            <label class="nombre_label">Nombre:</label>
                                                            </div>
                                                            <div class="col-12">
                                                            <input type="text" name="Nombre" value="Nombre de entrada" class="mb-2" class="entrada_dato" id="Nombre2" required>
                                                            </div>

                                                            <div class="col-12">
                                                                <label class="nombre_label">Apellido:</label>
                                                            </div>
                                                            <div class="col-12">
                                                                <input type="text" name="Apellido" value="Nombre de entrada" class="mb-2" class="entrada_dato" id="Apellido2" required>
                                                                </div>

                                                            <div class="col-12">
                                                                <label class="nombre_label">Email</label>
                                                            </div>
                                                            <div class="col-12">
                                                                <input type="text" name="Email" value="Email de entrada" class="mb-2" class="entrada_dato" id="Email2" required>
                                                                </div>
                                                            <div class="col-12">
                                                                <label class="nombre_label">Telefono</label>
                                                            </div>
                                                            <div class="col-12">
                                                                <input type="text" name="Telefono" value="Telefono de entrada" class="mb-2" class="entrada_dato" id="Tel2" required>
                                                            </div>

                                                          </div>
                                                        </div>
                                                        <div class="col-12 d-flex justify-content-center">
                                                            <div class="btt_enviar">
                                                         
                                                              <input type="submit" value="Actualizar" onclick="hizoClick2()">
                                                              
                                                            </div>
                                                        </div>
                                                    </form>
                                            </div>
                                                <div class="modal-footer">
                                                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cerrar</button>
                                            </div>
                                         </div>
                                    </div>
                                </div>
                                    </td>
                                </tr>

                        
                            </tbody>
                        </table>
                        
                    </li>
                    <li>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12 d-flex justify-content-center">
                                    <button type="button" class="btn btn-light border">Cargar mas</button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                
               
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" 
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" 
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" 
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" 
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" 
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" 
                crossorigin="anonymous"></script>
                <script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js">
		</script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        
        </section>

        <script src="../js/js_secretaria/control_clientes.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    </body>
</html>